#principal {
    border: solid 1px #cccccc;
    padding: 5px;
    margin: 0 auto;
    width: 85%;
    background-color: rgba(247, 249, 249, 0.6);
}

fieldset {
    margin-bottom: 10px;
}

legend {
    border: solid 1px #b5d5f8;
    padding: 5px;
    font-weight: bold;
    background: #4b4a4a;
    border-radius: 15px;
}

#mifoto {
    border: solid 2px;
    margin: 10px;
}

#peliculas {
    padding: 5px;
}

body {
    background: url(fondo.jpg);
}